div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 160px;
  height: auto;
}

div.gallery.nonwinner {
  background-color: azure;
}

div.gallery.winner {
  background-color: #ffd752;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img,
video {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  height: auto;
}

/*
loading
*/

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loadedP {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
